KINDE_CLIENT_ID=...
KINDE_CLIENT_SECRET=...
KINDE_ISSUER_URL=https://chatwith.kinde.com
KINDE_SITE_URL=http://localhost:3000
KINDE_POST_LOGOUT_REDIRECT_URL=http://localhost:3000
KINDE_POST_LOGIN_REDIRECT_URL=http://localhost:3000/app/chat

NEXT_PUBLIC_API_SERVER_BASE_URL=http://localhost:4000
NEXT_PUBLIC_API_CLIENT_BASE_URL=http://localhost:4000

# Docker
# NEXT_PUBLIC_API_SERVER_BASE_URL="http://nginx:80/"
# NEXT_PUBLIC_API_CLIENT_BASE_URL="/"

# Prod
# NEXT_PUBLIC_API_SERVER_BASE_URL=https://...
# NEXT_PUBLIC_API_CLIENT_BASE_URL=https://...